@use "sass:map";
@use "../core/variables" as v;

// Generate spacing utilities
@each $name, $value in v.$layout-sizes {
  // Margin
  .m#{$name} {
    margin: var(--layout--size--#{$name});
  }
  .mt#{$name} {
    margin-top: var(--layout--size--#{$name});
  }
  .mr#{$name} {
    margin-right: var(--layout--size--#{$name});
  }
  .mb#{$name} {
    margin-bottom: var(--layout--size--#{$name});
  }
  .ml#{$name} {
    margin-left: var(--layout--size--#{$name});
  }
  .mh#{$name} {
    margin-left: var(--layout--size--#{$name});
    margin-right: var(--layout--size--#{$name});
  }
  .mv#{$name} {
    margin-top: var(--layout--size--#{$name});
    margin-bottom: var(--layout--size--#{$name});
  }

  // Padding
  .p#{$name} {
    padding: var(--layout--size--#{$name});
  }
  .pt#{$name} {
    padding-top: var(--layout--size--#{$name});
  }
  .pr#{$name} {
    padding-right: var(--layout--size--#{$name});
  }
  .pb#{$name} {
    padding-bottom: var(--layout--size--#{$name});
  }
  .pl#{$name} {
    padding-left: var(--layout--size--#{$name});
  }
  .ph#{$name} {
    padding-left: var(--layout--size--#{$name});
    padding-right: var(--layout--size--#{$name});
  }
  .pv#{$name} {
    padding-top: var(--layout--size--#{$name});
    padding-bottom: var(--layout--size--#{$name});
  }

  // Gap
  .gap#{$name} {
    gap: var(--layout--size--#{$name});
  }
  .rgap#{$name} {
    row-gap: var(--layout--size--#{$name});
  }
  .cgap#{$name} {
    column-gap: var(--layout--size--#{$name});
  }
}

// Negative margins
@each $name, $value in v.$layout-sizes {
  @if $name != "0" {
    .-m-#{$name} {
      margin: calc(var(--layout--size--#{$name}) * -1);
    }
    .-mt-#{$name} {
      margin-top: calc(var(--layout--size--#{$name}) * -1);
    }
    .-mr-#{$name} {
      margin-right: calc(var(--layout--size--#{$name}) * -1);
    }
    .-mb-#{$name} {
      margin-bottom: calc(var(--layout--size--#{$name}) * -1);
    }
    .-ml-#{$name} {
      margin-left: calc(var(--layout--size--#{$name}) * -1);
    }
    .-mx-#{$name} {
      margin-left: calc(var(--layout--size--#{$name}) * -1);
      margin-right: calc(var(--layout--size--#{$name}) * -1);
    }
    .-my-#{$name} {
      margin-top: calc(var(--layout--size--#{$name}) * -1);
      margin-bottom: calc(var(--layout--size--#{$name}) * -1);
    }
  }
}
