@use "sass:map";
@use "../core/variables" as v;

// Font sizes
@each $name, $value in v.$font-sizes {
  .text-#{$name} {
    font-size: var(--font--size--#{$name});
  }
}

// Font weights
@each $name, $value in v.$font-weights {
  .font-#{$name} {
    font-weight: $value;
  }
}

// Line heights
.line-height-base {
  line-height: var(--line-height-base);
}

// Text alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Text decoration
.text-underline {
  text-decoration: underline;
}

.text-none {
  text-decoration: none;
}

// Text transform
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}
