[class*=fd-],
[class*=jc-],
[class*=ai-],
[class*=fw-],
[class*=fg-],
[class*=fs-] {
  display: flex;
}

[class*=fd-row] {
  flex-direction: row;
}

[class*=fd-column] {
  flex-direction: column;
}

[class*=fd-row-reverse] {
  flex-direction: row-reverse;
}

[class*=fd-column-reverse] {
  flex-direction: column-reverse;
}

[class*=jc-start] {
  justify-content: flex-start;
}

[class*=jc-end] {
  justify-content: flex-end;
}

[class*=jc-center] {
  justify-content: center;
}

[class*=jc-between] {
  justify-content: space-between;
}

[class*=jc-around] {
  justify-content: space-around;
}

[class*=jc-evenly] {
  justify-content: space-evenly;
}

[class*=ai-start] {
  align-items: flex-start;
}

[class*=ai-end] {
  align-items: flex-end;
}

[class*=ai-center] {
  align-items: center;
}

[class*=ai-baseline] {
  align-items: baseline;
}

[class*=ai-stretch] {
  align-items: stretch;
}

[class*=fw-wrap] {
  flex-wrap: wrap;
}

[class*=fw-nowrap] {
  flex-wrap: nowrap;
}

[class*=fw-wrap-reverse] {
  flex-wrap: wrap-reverse;
}

[class*=fg-0] {
  flex-grow: 0;
}

[class*=fg-1] {
  flex-grow: 1;
}

[class*=fs-0] {
  flex-shrink: 0;
}

[class*=fs-1] {
  flex-shrink: 1;
}

[class*=as-auto] {
  align-self: auto;
}

[class*=as-start] {
  align-self: flex-start;
}

[class*=as-end] {
  align-self: flex-end;
}

[class*=as-center] {
  align-self: center;
}

[class*=as-baseline] {
  align-self: baseline;
}

[class*=as-stretch] {
  align-self: stretch;
}

[class*=order-1] {
  order: 1;
}

[class*=order-2] {
  order: 2;
}

[class*=order-3] {
  order: 3;
}

[class*=order-4] {
  order: 4;
}

[class*=order-5] {
  order: 5;
}

[class*=order-6] {
  order: 6;
}

[class*=order-7] {
  order: 7;
}

[class*=order-8] {
  order: 8;
}

[class*=order-9] {
  order: 9;
}

[class*=order-10] {
  order: 10;
}

[class*=order-11] {
  order: 11;
}

[class*=order-12] {
  order: 12;
}

[class*=fb-0] {
  flex-basis: var(--layout--size--0);
}

[class*=fb-1] {
  flex-basis: var(--layout--size--1);
}

[class*=fb-2] {
  flex-basis: var(--layout--size--2);
}

[class*=fb-3] {
  flex-basis: var(--layout--size--3);
}

[class*=fb-4] {
  flex-basis: var(--layout--size--4);
}

[class*=fb-5] {
  flex-basis: var(--layout--size--5);
}

[class*=fb-6] {
  flex-basis: var(--layout--size--6);
}

[class*=fb-7] {
  flex-basis: var(--layout--size--7);
}

[class*=fb-8] {
  flex-basis: var(--layout--size--8);
}

[class*=gap-0] {
  gap: var(--layout--size--0);
}

[class*=gap-1] {
  gap: var(--layout--size--1);
}

[class*=gap-2] {
  gap: var(--layout--size--2);
}

[class*=gap-3] {
  gap: var(--layout--size--3);
}

[class*=gap-4] {
  gap: var(--layout--size--4);
}

[class*=gap-5] {
  gap: var(--layout--size--5);
}

[class*=gap-6] {
  gap: var(--layout--size--6);
}

[class*=gap-7] {
  gap: var(--layout--size--7);
}

[class*=gap-8] {
  gap: var(--layout--size--8);
}
