.text0 {
  font-size: var(--font--size--0);
}

.text1 {
  font-size: var(--font--size--1);
}

.text2 {
  font-size: var(--font--size--2);
}

.text3 {
  font-size: var(--font--size--3);
}

.text4 {
  font-size: var(--font--size--4);
}

.text5 {
  font-size: var(--font--size--5);
}

.text6 {
  font-size: var(--font--size--6);
}

.text7 {
  font-size: var(--font--size--7);
}

.text8 {
  font-size: var(--font--size--8);
}

.fw0 {
  font-weight: var(--font--weight--0);
}

.fw1 {
  font-weight: var(--font--weight--1);
}

.fw2 {
  font-weight: var(--font--weight--2);
}

.fw3 {
  font-weight: var(--font--weight--3);
}

.fw4 {
  font-weight: var(--font--weight--4);
}

.fw5 {
  font-weight: var(--font--weight--5);
}

.lh-none {
  line-height: var(--line--height--none);
}

.lh-tight {
  line-height: var(--line--height--tight);
}

.lh-snug {
  line-height: var(--line--height--snug);
}

.lh-normal {
  line-height: var(--line--height--normal);
}

.lh-relaxed {
  line-height: var(--line--height--relaxed);
}

.lh-loose {
  line-height: var(--line--height--loose);
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.td-underline {
  text-decoration: underline;
}

.td-none {
  text-decoration: none;
}

.tt-uppercase {
  text-transform: uppercase;
}

.tt-lowercase {
  text-transform: lowercase;
}

.tt-capitalize {
  text-transform: capitalize;
}

[class*=surface-primary] {
  background-color: var(--surface--primary);
}

[class*=surface-secondary] {
  background-color: var(--surface--secondary);
}

[class*=surface-tertiary] {
  background-color: var(--surface--tertiary);
}

[class*=spot-primary] {
  background-color: var(--spot--primary);
}

[class*=spot-secondary] {
  background-color: var(--spot--secondary);
}

[class*=spot-accent] {
  background-color: var(--spot--accent);
}

[class*=spot-accent-hover] {
  background-color: var(--spot--accent-hover);
}

[class*=spot-scarcity] {
  background-color: var(--spot--scarcity);
}

[class*=spot-scarcity-hover] {
  background-color: var(--spot--scarcity-hover);
}

[class*=ink-body] {
  color: var(--ink--body);
}

[class*=ink-muted] {
  color: var(--ink--muted);
}

[class*=ink-subtle] {
  color: var(--ink--subtle);
}

[class*=spot-ink-primary] {
  color: var(--spot-ink--primary);
}

[class*=spot-ink-secondary] {
  color: var(--spot-ink--secondary);
}

[class*=spot-ink-accent] {
  color: var(--spot-ink--accent);
}

[class*=spot-ink-accent-hover] {
  color: var(--spot-ink--accent-hover);
}

[class*=spot-ink-scarcity] {
  color: var(--spot-ink--scarcity);
}

[class*=spot-ink-scarcity-hover] {
  color: var(--spot-ink--scarcity-hover);
}

[class*=stroke-primary] {
  border-color: var(--stroke--primary);
}

[class*=stroke-secondary] {
  border-color: var(--stroke--secondary);
}

[class*=stroke-tertiary] {
  border-color: var(--stroke--tertiary);
}

.text0 {
  font-size: var(--font--size--0);
}

.text1 {
  font-size: var(--font--size--1);
}

.text2 {
  font-size: var(--font--size--2);
}

.text3 {
  font-size: var(--font--size--3);
}

.text4 {
  font-size: var(--font--size--4);
}

.text5 {
  font-size: var(--font--size--5);
}

.text6 {
  font-size: var(--font--size--6);
}

.text7 {
  font-size: var(--font--size--7);
}

.text8 {
  font-size: var(--font--size--8);
}

.fw0 {
  font-weight: var(--font--weight--0);
}

.fw1 {
  font-weight: var(--font--weight--1);
}

.fw2 {
  font-weight: var(--font--weight--2);
}

.fw3 {
  font-weight: var(--font--weight--3);
}

.fw4 {
  font-weight: var(--font--weight--4);
}

.fw5 {
  font-weight: var(--font--weight--5);
}

.lh-none {
  line-height: var(--line--height--none);
}

.lh-tight {
  line-height: var(--line--height--tight);
}

.lh-snug {
  line-height: var(--line--height--snug);
}

.lh-normal {
  line-height: var(--line--height--normal);
}

.lh-relaxed {
  line-height: var(--line--height--relaxed);
}

.lh-loose {
  line-height: var(--line--height--loose);
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.td-underline {
  text-decoration: underline;
}

.td-none {
  text-decoration: none;
}

.tt-uppercase {
  text-transform: uppercase;
}

.tt-lowercase {
  text-transform: lowercase;
}

.tt-capitalize {
  text-transform: capitalize;
}
